@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@font-face {
  font-family: Norse;
  src: local(Norse-Bold), local(Norse), url(../img/_fonts/Norse-Bold.otf) format("OpenType");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Code", monospace;
  font-weight: 300;
  font-size: 1.6rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

:root {
  --logo-width: 7rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.imgElement {
  background-image: url(../img/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.imgElement .imgContainer {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 10rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgElement .imgContainer img {
  width: var(--logo-width);
}
.imgElement .imgContainer p {
  color: #fff;
  font-family: norse, sans-serif;
  font-size: var(--logo-width);
}
.imgElement p {
  margin-top: auto;
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}
.imgElement p a {
  color: #fff;
}

.form_container {
  background-color: #f9fafb;
}
.form_container .titleContainer,
.form_container form {
  margin: 2rem 0;
  padding: 3rem;
}
.form_container .titleContainer {
  max-width: 80%;
  min-width: 50%;
}
.form_container .titleContainer h2 {
  font-size: 1.5rem;
}
.form_container .titleContainer h3 {
  margin: 2rem auto;
  font-size: 1.5rem;
}
.form_container form {
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
}
.form_container .formContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.form_container .formContent h3 {
  grid-column: 1/-1;
}
.form_container .account {
  padding: 0 3rem;
}
.form_container .account_create {
  background-color: #596d48;
  color: #fff;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
}
.form_container .account a {
  color: #596d48;
  font-weight: 500;
  text-decoration: none;
}

label {
  width: 100%;
  font-size: 0.8em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

input {
  padding: 1rem;
  border-radius: 0.5rem;
}
input:invalid {
  border: none;
  outline: 2px solid red;
}